$primary-color: rgb(122, 185, 49);
$secondary-color: rgb(211, 185, 69);
$light-color: #f4f4f4;
$dark-color: #333;
$danger-color: brown;
$main-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);

.app {
  .app-header {
    display: flex;
    height: 70px;
    background-color: $primary-color;
    color: $light-color;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    margin: 0 0 20px;

    h1 {
      cursor: pointer;
    }

    nav ul {
      display: flex;
      list-style: none;
      gap: 0 10px;

      a {
        text-decoration: none;
        color: $light-color;
        font-size: 20px;
        font-weight: 600;
        padding: 2px 10px;

        &:hover {
          border-bottom: 2px solid $light-color ;
          border-radius: 5px;
        }
      }
    }
  }

  form {
    border-radius: 5px;
    padding: 20px;
    width: 500px;
    margin: 5px auto;
    box-shadow: $main-box-shadow;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .input-control {
      input {
        border-radius: 7px;
        padding: 2px 5px;
        width: 300px;
      }

      .input-error {
        color: $danger-color;
        font-weight: 700;
        font-size: 12px;
        margin: 0;
        margin-left: 6px;
      }
    }

    .lds-dual-ring {
      display: inline-block;
      padding: 10px 10px 10px 5px;
    }

    .lds-dual-ring:after {
      content: " ";
      display: block;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      border: 2px solid #4E6C50;
      border-color: #4E6C50 transparent #4E6C50 transparent;
      animation: lds-dual-ring 1.2s linear infinite;
    }

    @keyframes lds-dual-ring {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }

  .btn {
    width: 200px;
    padding: 7px 20px;
    border: none;
    border-radius: 7px;
    color: $light-color;
    font-weight: 800;
    cursor: pointer;
    background-color: $primary-color;

    &:hover {
      opacity: 0.9;
    }


    .btn-disabled {
      background-color: #72aca0bd;

      &:hover {
        background: #48b09b;
      }
    }
  }

  .student-search {
    padding: 20px;
    margin: 20px auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      border-radius: 7px;
      padding: 2px 5px;
      width: 300px;
    }
  }

  .student-container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    width: 90%;
    margin: 20px auto;

    .student-card {
      border-radius: 5px;
      box-shadow: $main-box-shadow;
      width: 240px;
      margin: 0;
      padding: 7px 12px;

      .student-data {
        font-weight: 500;
        font-size: 18px;
        color: $primary-color;
      }
    }
  }

  .student-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      color: $primary-color;
    }

    .searchbar {
      border-radius: 7px;
      padding: 2px 5px;
      width: 300px;
      align-self: flex-end;
      margin-right: 20px;
    }

    .student-container {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
      width: 90%;
      margin: 20px auto;

      .message {
        margin: 20px auto;
        text-align: center;

        border-radius: 5px;
        box-shadow: $main-box-shadow;
        width: 240px;
        padding: 7px 12px;

        h4 {
          font-weight: 500;
          font-size: 18px;
          color: $primary-color;
        }
      }

      .student-card {
        border-radius: 5px;
        box-shadow: $main-box-shadow;
        width: 240px;
        margin: 0;
        padding: 7px 12px;

        .student-card-buttons {
          // padding: 10px;
          height: fit-content;
          cursor: pointer;
          display: flex;
          justify-content: flex-end;
          font-size: 20px;

          .delete-button {
            color: #980000b7;
          }

          .edit-button {
            color: #005698b7;
          }

          .save-button {
            color: #379237;
          }

          span {
            padding: 10px 10px 10px 5px;
          }
        }

        .student-card-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 0 10px;
        }

        [contenteditable]:focus {
          outline: 0px solid transparent;
        }

        .student-data {
          font-weight: 500;
          font-size: 18px;
          color: $primary-color;
        }
      }
    }
  }
}